{{ partial "header.html" . }}

<header class="o-header">
    <div class="o-wrap">

      <section class="c-nav">

        <div class="c-nav__item">
          <a href="{{ .Site.BaseURL }}" class="nav-link u-font--mono u-link--bare">← Return</a>
        </div>

      </section>

    </div>
</header>

<main role="main">
    <div class="o-wrap">
        <section class="c-hero">
            <h1 class="c-hero__title">{{ .Params.description }}</h1>
        </section>
        <section class="c-post">
            <div class="c-post__content markdown">
              {{ .Content }}
            </div>
        </section>
    </div>
</main>

{{ partial "newsletter.html" . }}

{{ partial "footer.html" . }}
