{{ partial "header.html" . }}

<section class="o-section">
    <div class="o-wrap">
        <header class="u-marginTop-l">
                <a href="{{ .Site.BaseURL }}" class="u-font--mono u-link--bare">&larr; Return</a>
        </header>
    </div>
</section>

<main role="main">
    <div class="o-wrap">
        <section class="u-marginTop-l">
            <h1 class="u-h1">{{ .Params.description }}</h1>
        </section>
        <section class="c-post u-marginTop-m">
            <div class="c-post__content markdown">
              {{ .Content }}
            </div>
        </section>
    </div>
</main>

<div class="o-wrap">
{{ partial "navigation.html" . }}
</div>
{{ partial "footer.html" . }}
