/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.o-header {
    width: 100%;
    padding: $spacing-unit * 2 0;
}

.o-header-cover {
    background-color: $color-dark;
    background-size: cover;
    height: 60vh;
}
