/*------------------------------------*\
    #FLEXBOX GRID
\*------------------------------------*/

.o-flex--1 {
  flex: 1;
}

.o-flex--3 {
    flex-basis: 30%;
}

.o-flex--2 {
    flex-basis: 47%;
}

@include breakpoint(ml) {
    .o-flex {
        display: flex;
        justify-content: space-between;
    }
}
