/*------------------------------------*\
    #WRAPPER
\*------------------------------------*/

/**
 * Component Block
 */

.o-wrap {
    position: relative;
    max-width: 1080px;
    padding: 32px;
    @extend %clearfix;

    @include breakpoint(ml) {


    }

}
