.c-newsletter {

}

.c-newsletter__description {
    padding: 1 * $spacing-unit 0;
}

// .Form {}

.c-newsletter__form-field {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid $color-lighter;
    color: $color-body;
    float: left;
    font-family: $secondary-font-family;
    font-size: $font-size--s;
    padding: 1rem;
    width: 65%;
    border-radius: 4px;
    transition: border .2s ease-in-out;

    &::-webkit-input-placeholder {
        color: $color-grey;
        opacity: 1;
    }

    &::-moz-placeholder {
        color: $color-grey;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $color-grey;
        opacity: 1;
    }

    &:hover, &:focus {
        outline: none;
        border: 1px solid $color-light;
    }

    @include breakpoint(xs) {
        width: 100%;
    }
}

.c-newsletter__form-button {
    float: right;
    width: 30%;

    @include breakpoint(xs) {
        width: 100%;
        margin-top: $spacing-unit / 2;
    }

}
