.c-about {
  background: url(../images/about-me.jpg) no-repeat center;
  background-size: cover;
  margin-top: 4 * $spacing-unit;
  padding: 4 * $spacing-unit 0 0 0 ;
  height: 100vh;
}

.c-about__title {
  color: $color-brand;
}

.c-about__excerpt {
  color: $color-brand;
  font-size: $font-size--xxl;
  margin-top: 2 * $spacing-unit;
}

.c-about__footer {
  margin-top: 2 * $spacing-unit;
  font-size: $font-size--s;
}
