/*------------------------------------*\
    #POST
\*------------------------------------*/

/**
 * Component Block
 */


// .c-post {}

.c-post__related {
  @include margin-bottom(1);
}

.c-post__tag-list {
  @include margin-bottom(2);
}

.c-post__tags {
  @include margin-bottom(2);
}

.c-post__meta {
  font-family: $font-family-mono;
}

.c-post__author-card {
    position: relative;
}

.markdown p.intro, p.intro {
    font-size: 24px;
    line-height: 1.4;

    @include breakpoint(xs) {
      font-size: $font-size--m;
    }
}


.markdown em {
    color: $color-grey;
}


.markdown .image-caption {
    color: $color-grey;
    border-left: 2px solid $color-light;
    margin: 10px 0 32px 0%;
    padding: 0 10px;

    @include breakpoint(xs) {
        max-width: 100%;
        margin: 20px 0;
    }
}

.markdown .image-caption p {
    font-size: $font-size--s;
    margin: 0;
    line-height: 1.6em;
}

.markdown .message {
    background: #F8F8F8;
    font-size: $font-size--s;
    margin-bottom: 50px;
    padding: 32px;
    line-height: 2;
}
