/*------------------------------------*\
    #NEWSLETTER
\*------------------------------------*/

// .newsletter {}

.c-newsletter__form-field {
    background-color: rgba(255, 255, 255, 0);
    color: $color-brand;
    border-bottom: 1px solid $color-brand;
    font-family: $secondary-font-family;
    font-size: $font-size--s;
    padding: 2rem;
    transition: border .2s ease-in-out;

    &::-webkit-input-placeholder {
        color: $color-brand;
        opacity: 1;
    }

    &::-moz-placeholder {
        color: $color-brand;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $color-brand;
        opacity: 1;
    }

    &:hover, &:focus {
        outline: none;
        border-bottom: 1px solid $color-brand;
        color: darken($color-brand, 15%);
    }

    @include breakpoint(xs) {
        width: 100%;
    }
}

.c-newsletter__form-field {
    width: 100%;
    margin-bottom: $spacing-unit;

    @include breakpoint(xs) {


    }

}
