/*------------------------------------*\
    #POST
\*------------------------------------*/

// .c-post {}

.c-post__related {
    margin-bottom: $spacing-unit / 2;
}

.c-post__tag-list {
    margin: 2 * $spacing-unit 0;
}

.c-post__tags {
    margin-top: $spacing-unit / 2;
}

.markdown p {
    margin: $spacing-unit 0;
}

.markdown h2 {
    font-size: 30px;
    font-weight: $font-weight-medium;
    margin: 70px 0 $spacing-unit 0;

    @include breakpoint(xs) {
        font-size: 28px;
    }
}

.markdown h3 {
    font-size: 24px;
    font-weight: $font-weight-medium;
    margin: 60px 0 30px 0;

    @include breakpoint(xs) {
        font-size: 28px;
    }
}

.markdown h4 {
    font-size: 22px;
    font-weight: $font-weight-medium;
    margin: 60px 0 30px 0;

    @include breakpoint(xs) {
        font-size: 20px;
    }
}

.markdown h5 {
    font-size: 18px;
    font-weight: $font-weight-medium;
    margin: 60px 0 30px 0;
}

.markdown em {
    color: $color-grey;
}

.markdown img {
    position: relative;
    max-width: 150%;
    margin: 50px 0 10px -25.5%;
    height: auto;
    position: relative;
}

.markdown .image-caption {
    color: $color-grey;
    border-left: 2px solid $color-light;
    padding-left: $spacing-unit / 2;
    margin: 10px 0 10px -25.5%;

    @include breakpoint(xs) {
        max-width: 100%;
        margin: 20px 0;
    }
}

.markdown .image-caption p {
    font-size: $font-size--s;
    margin: 0;
    line-height: 1.6em;
}

.markdown .message {
    background: #F8F8F8;
    font-size: $font-size--s;
    margin-bottom: 50px;
    padding: $spacing-unit;
    line-height: 2;
}
