/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

.c-button-wrap {
  margin: $spacing-unit * 3 0;
}
.c-button {
    width: 100%;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: $secondary-font-family;
    font-size: $font-size--s;
    outline-style: none;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    vertical-align: middle;
    -webkit-transition-duration: 0.4s; /* Safari */
    white-space: nowrap;
}

.c-button--primary {
    border: solid 1px $color-brand;
    color: $color-white;
    background: $color-brand;
    margin: 0 auto;
    padding: 1rem 3rem;
}

/**
 * Component State
 */

.c-button--primary:hover,
.c-button--primary:focus,
.c-button--primary:active,
.c-button--primary.is-pressed {
    background: $color-white;
    color: $color-brand;
    border: solid 1px $color-brand;
    outline: none;
}
