/*------------------------------------*\
    #LIST
\*------------------------------------*/

.c-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-list__item {
  
}

.c-list__primary-content {

}

.c-list__secondary-content {
    display: block;
}
