.c-hero {
  overflow: hidden;
  padding: 0;
  position: relative;
}

.c-hero--home {
  display: table;
  width: 100%;
  height: 200px;
  margin-top: 10 * $spacing-unit;
}

.c-hero__wrap {
  margin: 0 auto;
  vertical-align: middle;
}

.c-hero__text {
  color: $color-dark;
  font-weight: $font-weight-medium;
  letter-spacing: 1px;
  font-size: $font-size--xxxl;

  @include media-query($on-laptop) {
      font-size: $font-size--xxl;
  }
}

.c-hero__excerpt {
  font-size: $font-size--m;
}

.c-hero__footer {
  margin-top: 2 * $spacing-unit;
  font-size: $font-size--s;
}
