/*------------------------------------*\
    #FORM
\*------------------------------------*/

.c-form {
  width: 100%;
  margin-bottom: $spacing-unit;
  background-color: rgba(255, 255, 255, 0);
  color: $color-dark;
  font-family: $secondary-font-family;
  font-size: $font-size--s;
  transition: border .2s ease-in-out;

  &::-webkit-input-placeholder {
      color: $color-dark;
      opacity: 1;
  }

  &::-moz-placeholder {
      color: $color-dark;
      opacity: 1;
  }

  &:-ms-input-placeholder {
      color: $color-dark;
      opacity: 1;
  }

  &:hover, &:focus {
      outline: none;
      border-bottom: 1px solid $color-dark;
      color: darken($color-grey, 15%);
  }

  @include breakpoint(xs) {
      width: 100%;
  }

}

input, textarea {
  width: 100%;
  padding: 2rem 2rem;

  @include breakpoint(xs) {
    padding: 1rem 2rem;
  }
}

.c-form__input {
  border-bottom: 1px solid $color-dark;

  @include breakpoint(xs) {
    border: 1px solid $color-dark;
  }
}

select {
  padding: 1rem 2rem 1rem 2rem;
  text-transform: none;
  margin: 0;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline-style: none;
}

.c-form__select {
  position: relative;
  border: 1px solid $color-dark;
  z-index: 9999;
}

.c-form__select:after {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  -webkit-transition: none;
  transition: none;
  -webkit-transform: scale(1);
  transform: scale(1);
  width: 24px;
  height: 24px;
  margin-top: 14px;
  margin-right: 14px;
  background-size: 24px 24px;
  background-image: url("../images/icon-dropdown.svg");
  z-index: -999;
}
