/*------------------------------------*\
    #BUTTON
\*------------------------------------*/


/**
 * Component Block
 */

.c-button-wrap {
  @include margin-bottom(4);
}

.c-button {
    width: 100%;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: $font-family-mono;
    font-size: $font-size--s;
    outline-style: none;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.4s;
    vertical-align: middle;
    -webkit-transition-duration: 0.4s; /* Safari */
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

/**
 * Component Modifier
 */

.c-button--primary {
    border: solid 1px $color-darker;
    color: $color-white;
    background: $color-dark;
    margin: 0 auto;
    padding: 0.7rem 2rem;
}

/**
 * Component Modifier State
 */

.c-button--primary:hover,
.c-button--primary:focus,
.c-button--primary:active,
.c-button--primary.is-pressed {
    background: $color-white;
    color: $color-dark;
    border: solid 1px $color-darker;
    outline: none;
}
