/*------------------------------------*\
    #UTILITIES: MARGINS
\*------------------------------------*/

.u-margin--none {
    margin: 0 !important;
}

.u-marginTop-xl {
  margin-top: 4 * $spacing-unit;
}

.u-marginTop-l {
  margin-top: 2 * $spacing-unit;
}

.u-marginTop-m {
  margin-top: 1 * $spacing-unit;
}

.u-marginTop-s {
  margin-top: $spacing-unit / 2;
}
