/*------------------------------------*\
    #UTILITIES: COLORS
\*------------------------------------*/

.u-color-brand {
  color: $color-brand;
}

.u-color-body {
  color: rgba(35,37,40,0.8);
}

.u-color-white {
  color: $color-white;
}

.u-color-bg-brand {
  background: $color-brand;
}
