/*------------------------------------*\
    #UTILITIES: COLORS
\*------------------------------------*/

.u-color-brand {
  color: $color-brand !important;
}

.u-color-heading {
  color: $color-dark !important;
}

.u-color-body {
  color: $color-body !important;
}

.u-color-grey {
  color: $color-grey !important;
}

.u-color-white {
  color: $color-white !important;
}

.u-color-bg-brand {
  background: $color-brand !important;
}
