/*------------------------------------*\
    #UTILITIES: TYPOGRAPHY
\*------------------------------------*/

.u-font--mono {
    font-family: $secondary-font-family;
    font-size: $font-size--s;
    color: $color-grey;
}

.u-font--normal {
    font-family: $base-font-family;
}

.u-font--tertairy {
    font-family: $tertiary-font-family;
}
