/*------------------------------------*\
    #UTILITIES: HELPERS
\*------------------------------------*/

// Hide only visually, but have it available for screenreaders
.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


// Clearfix
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.cf {
    *zoom: 1;
    content: "";
    clear: both;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

// Alignment
.u-align-center {
    text-align: center;
}
