/*------------------------------------*\
    #UTILITIES: TYPOGRAPHY
\*------------------------------------*/

.u-font--mono {
    font-family: $font-family-mono;
    font-size: $font-size--s;
}

.u-font--normal {
    font-family: $font-family-base;
}
