/*------------------------------------*\
    #UTILITIES: COLORS
\*------------------------------------*/

.u-color-brand {
  color: $color-brand;
}

.u-color-white {
  color: $color-white;
}

.u-color-bg-brand {
  background: $color-brand;
}
