/*------------------------------------*\
    #BASE: LISTS
\*------------------------------------*/

ul, ol {
    margin-left: 1rem;
    padding-left: 1rem;
}

li {
    margin-top: .35rem;
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

dl {
    margin-bottom: 2 * $spacing-unit;
}

dt {
    font-size: 16px;
}

dd {
   margin: 0;
}
