/*------------------------------------*\
    #BASE: IMAGES
\*------------------------------------*/

img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Figures
 */

figure {
    @include margin-bottom(1);
}

figure > img {
    display: block;
}

figcaption {
    font-size: $font-size--s;
}
