/*------------------------------------*\
    #BASE: QUOTES
\*------------------------------------*/

/**
 * Inline quotes.
 *
 */
q {
    font-style: italic;
    quotes: "‘" "’" "“" "”";

    &:before {
        content: open-quote;
    }

    &:after {
        content: close-quote;
    }

}


/**
 * Block quotes.
 *
 * 1. Hang opening punctuation.
 */
blockquote {

    font-family: $base-font-family;
    font-size: 24px;
    quotes: "“" "”";
    color: $color-brand;
    margin: 0;
    line-height: 1.6;

    p {
        text-indent: -0.41em; /* [1] */
        padding: $spacing-unit / 2 $spacing-unit ;

        &:before {
            content: open-quote;
        }

        &:after {
            content: no-close-quote;
        }

        &:last-of-type {
            margin-bottom: 0;

            &:after {
                content: close-quote;
            }

        }

    }

    q {
        quotes: "‘" "’";

        &:before {
            content: open-quote;
        }

        &:after {
            content: close-quote;
        }

    }

    cite:before {
      content: '\2014 ';
    }

    cite {
      font-size: 20px;
      margin-top: 15px;
      display: block;
      font-style: normal;
      color: $color-dark;
      line-height: 1.8;
    }

}
