/*------------------------------------*\
    #BASE: BODY
\*------------------------------------*/

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    background-color: $color-white;
    color: $color-body;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent
}

::-moz-selection {
    color: $color-white;
    background: lighten($color-brand, 5%);
}

::selection {
    color: $color-white;
    background: lighten($color-brand, 5%);
}
