/*------------------------------------*\
    #BASE: TYPOGRAPHY
\*------------------------------------*/


/**
 * Typographical base selectors.
 */

/**
 * Headings 1–6.
 */
 // [ h1: font-size: [x value from scale], line-height: 1.5 × 28px, margin-top: 3 × 28px, margin-bottom: 2 × 28px ]
 $headings: (
   h1: (5, 2, 3, 3),
   h2: (3, 2, 2, 3),
   h3: (3, 2, 3, 3),
   h4: (2, 1, 2, 3),
   h5: (1, 2, 1, 0),
   h6: (0, 1, 1, 0)
 );

 // Set font-size, line-heights and margins for headings
 @each $heading, $properties in $headings {
   #{$heading} {
     font-size: ms(nth($properties, 1));
     @include line-height(nth($properties, 2));
   }
 }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    color: $color-dark;
    font-family: 'Karla';
    font-weight: $font-weight-bold;
}

p, h1, h2, h3, h4, h5, h6, ul, ol {
    max-width: 665px;
    max-width: 35rem;
}


/**
 * Emboldened elements.
 */
strong, b,
dt {
    font-weight: $font-weight-bold;
}

p {
  @include margin-bottom(1);
}

/**
 * Code-like elements.
 */
code, kbd, samp {
    font-family: $font-family-mono;
    font-weight: 400;
    font-size: 0.9em;
    padding: .125em 0.35em;
    border-radius: 4px;
    position: relative;
    top: -0.05em;
    margin: 0 4px;
    background: #F8F8F8;
    color: #315082;

}

pre {
    font-family: 'Roboto Mono', monospace;
    white-space: pre;
    font-size: 0.9em;
    word-wrap: normal;
    border-radius: 4px;
    overflow: auto;
    padding: 20px 28px;
    background-color: #F0F0F0;

    &,
    code, kbd, samp {
        color: $color-white;
        background-color: #272B34;
    }

}


/**
 * Figures.
 *
 * 1. Outdent figures by an arbitrary amount at the relevant viewport size.
 * 2. Reindent figcaptions.
 */
figure {

    @media screen and (min-width: 1380px) {
      //  margin-left: -128px; /* [1] */
    }

}

    figcaption {

        @media screen and (min-width: 1380px) {
            //margin-left: 128px; /* [2] */
        }

    }


/**
 * Highlighted text.
 */
mark {

    pre & {
        background: none;
        border-bottom: 1px solid;
        color: inherit;
    }

}
