/*------------------------------------*\
    #BASE: LISTS
\*------------------------------------*/

ul, ol {
    margin-left: 0;
    padding-left: 0;
    list-style-position: outside;
}

li {
  @include margin-bottom(0.5);
    > ul,
    > ol {
      @include margin-bottom(1);
    }

    &:last-of-type {
      @include margin-bottom(1);
}
}

dl {
    @include margin-bottom(2);
}

dt {
    font-size: 16px;
}

dd {
   margin: 0;
}
