/*------------------------------------*\
    #BASE: BOX-SIZING
\*------------------------------------*/

/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */

html {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}
