{{ partial "header.html" . }}

{{ if isset .Params "featured_image" }}
<section class="o-section">
    <div class="o-wrap">
        <header class="u-marginTop-l">
            <a href="{{ .Site.BaseURL }}/reading/" class="c-nav__link u-font--mono u-link--bare">← Return</a>
            <h1 class="u-h1 u-marginTop-l">{{ .Title }}</h1>
            {{ if .Params.description }}<h2 class="u-marginTop-m u-font--mono">{{ .Params.description }}</h2>{{ end }}
        </header>
    </div>
    <div class="o-header-cover u-marginTop-xl" style="background-image: url({{ index .Params "featured_image" }}); background-repeat: no-repeat; background-position: center;"></div>
</section>

  {{else}}

<section class="o-section">
  <div class="o-wrap">
      <a href="{{ .Site.BaseURL }}/reading" class="c-nav__link u-font--mono u-link--bare">← Return</a>
      <header class="u-marginTop-l">
          <div class="o-flex">
              <div class="o-flex--2">
                  <img src="{{ .Site.BaseURL }}/images/{{ .Params.book_cover }}" alt="{{ .Title }}">
              </div>
              <div class="o-flex--2">
                  <h1 class="u-h1 u-marginTop-m">{{ .Title }}</h1>
                  <div class="u-marginTop-s">
                      <p class="u-font--mono">{{ .Params.description }}</p>
                      <p class="u-font--mono u-marginTop-s">Rating: {{ .Params.rating }}</p>
                      <p class="u-marginTop-s">
                          <a class="u-font--mono" href="{{ .Params.external_link }}" target="_blank">Find out more</a>
                      </p>
                  </div>

              </div>
          </div>
      </header>
    </div>
</section>
{{ end }}

<main role="main">

    <article class="c-post u-marginTop-l">
        <div class="o-wrap">

            <div class="c-post__content markdown">
              {{ .Content }}
            </div>

        </div>
    </article>

</main>

{{ partial "newsletter.html" . }}

{{ partial "footer.html" . }}
