<hr/>
<!-- Author. -->
<div class="c-post__author-card">
    <div class="o-flex">
        <div class="c-avatar c-avatar--round c-avatar--m">
            <div class="c-avatar__img c-avatar--round"></div>
        </div>
        <div class="o-flex--1">
            <div class="u-marginTop-s">
                <h4>Did you enjoy this?</h4>
            </div>
            <div class="u-font--mono">
                <a class="u-link--natural" href="#newsletter">If so, consider signing up for my newsletter below &darr;</a>
            </div>
        </div>
    </div>
</div>
