{{ partial "header.html" . }}

<header class="o-header">
    <div class="o-wrap">
        <section class="c-nav">
            <div class="c-nav__item">
              <a href="{{ .Site.BaseURL }}" class="c-nav__link u-font--mono u-link--bare">← Return</a>
            </div>
        </section>
    </div>
</header>

<main role="main">
    <div class="o-wrap">
      <section class="c-hero">
        <h1 class="c-hero__title">Articles</h1>
        <p class="c-hero__subtitle">Every other sunday I publish exclusively to <a class="spot-link-obvious-brand" href ="{{ .Site.BaseURL }}/newsletter">my newsletter</a>. Some of those articles appear below a few weeks later.</p>
      </section>
        <section class="c-post-list">
            {{ range .Data.Pages.ByPublishDate }}
            {{ if eq .Type "articles" }}
                <article class="c-post">
                    <h4 class="c-post-list__title">
                        <a class="u-link--natural" href="{{ .Permalink }}">
                            {{ .Title }}
                        </a>
                    </h4>
                    {{ .Summary }}
                </article>
            {{ end }}
            {{ end }}
        </section>
    </div>
</main>

{{ partial "newsletter.html" . }}

{{ partial "footer.html" . }}
