{{ partial "header.html" . }}

<section class="o-section">
    <div class="o-wrap">
        <header>
              <a href="{{ .Site.BaseURL }}" class="u-font--mono u-link--bare">← Return</a>
        </header>
    </div>
</section>

<main role="main">
    <div class="o-wrap">
        <header class="u-marginTop-l">
            <h1 class="u-h1">Articles about design, code and running a small business that doesn't suck.</h1>
            <h2 class="u-marginTop-m u-font--mono">Every other Sunday I publish exclusively to <a href ="#newsletter">my newsletter</a>. Some of those articles appear below a few weeks later.</h2>
        </header>
        <section class="u-marginTop-l">
            {{ range .Data.Pages.ByPublishDate }}
            {{ if eq .Type "articles" }}
                <article class="c-post u-marginTop-xl">
                    <h3 class="u-h2">
                        <a class="u-link--natural" href="{{ .Permalink }}">
                            {{ .Title }}
                        </a>
                    </h3>
                    <p class="u-marginTop-m">
                    {{ .Summary }}
                  </p>
                </article>
            {{ end }}
            {{ end }}
        </section>
    </div>
</main>

{{ partial "newsletter.html" . }}

{{ partial "footer.html" . }}
