{{ partial "header.html" . }}

{{ if isset .Params "featured_image" }}
<section class="o-section">
    <div class="o-wrap">
        <header class="u-marginTop-l">
            <a href="{{ .Site.BaseURL }}/articles" class="c-nav__link u-font--mono u-link--bare">← Return</a>
            <h1 class="u-h1 u-marginTop-l">{{ .Title }}</h1>
            {{ if .Params.description }}<h2 class="u-marginTop-m u-font--mono">{{ .Params.description }}</h2>{{ end }}
        </header>
    </div>
    <div class="o-header-cover u-marginTop-xl" style="background-image: url({{ index .Params "featured_image" }}); background-repeat: no-repeat; background-position: center;"></div>
</section>

  {{else}}
<section class="o-section">
  <div class="o-wrap">
        <header>
            <a href="{{ .Site.BaseURL }}/articles" class="c-nav__link u-font--mono u-link--bare">← Return</a>
            <h1 class="u-h1 u-marginTop-l">{{ .Title }}</h1>
        </header>
    </div>
</section>
{{ end }}

<section class="o-wrap">


</section>


<main role="main">

    <article class="c-post u-marginTop-l">
        <div class="o-wrap">

            <div class="c-post__content markdown">
              {{ .Content }}
            </div>

            <aside class="c-post__footer u-marginTop-l">
                {{ partial "post/related-post.html" . }}
                {{ partial "post/tags.html" . }}
                <time class="c-post__meta u-font--mono">{{ .Date.Format "Mon Jan 2, 2006" }}</time>
            </aside>

        </div>
    </article>

</main>

{{ partial "newsletter.html" . }}

{{ partial "footer.html" . }}
