{{ partial "header.html" . }}

{{ with .Params.featured_image }}
<header class="o-header o-header--cover" style="background: url({{ . }}) no-repeat center; background-size: cover;   height: 50vh;">
  {{ end }}<div class="o-wrap">
        <section class="c-nav">
            <div class="c-nav__item">
              <a href="{{ .Site.BaseURL }}/articles" class="c-nav__link u-font--mono u-link--white">← Return</a>
            </div>
        </section>
        <h1 class="c-post__title u-link--white">{{ .Title }}</h1>
    </div>
</header>


<main role="main">

    <article class="c-post">
        <div class="o-wrap">

            <header class="c-post__header">

                {{ if .Params.description }}<h2 class="c-post__subtitle">{{ .Params.description }}</h2>{{ end }}

            </header>

            <div class="c-post__content markdown">
              {{ .Content }}
            </div>

            <aside class="c-post__footer">
                {{ partial "post/related-post.html" . }}
                {{ partial "post/tags.html" . }}
                <time class="c-post__meta u-font--mono">{{ .Date.Format "Mon Jan 2, 2006" }}</time>
            </aside>

        </div>
    </article>

</main>

{{ partial "newsletter.html" . }}

{{ partial "footer.html" . }}
