{{ partial "header.html" . }}

<header class="o-header">
    <div class="o-wrap">
        <section class="c-nav">
            <div class="c-nav__item">
              <a href="{{ .Site.BaseURL }}/articles" class="c-nav__link u-font--mono u-link--bare">← Return</a>
            </div>
        </section>
    </div>
</header>

<main role="main">

    <article class="c-post post-{{ .Params.spot }}">
      <div class="o-wrap">
            <header class="c-post__header">
                <time class="c-post__meta u-font--mono">{{ .Date.Format "Mon Jan 2, 2006" }}</time>
                <h1 class="c-post__title">{{ .Title }}</h1>
                {{ if .Params.description }}<h3 class="c-post__subtitle">{{ .Params.description }}</h3>{{ end }}
            </header>

            <div class="c-post__content markdown">
              {{ .Content }}
            </div>
        </div>
    </article>

</main>

{{ partial "newsletter.html" . }}

{{ partial "footer.html" . }}
