// Global colors
$brand-color: #fc2161;
$color-brand: $brand-color;

$color-white: #ffffff !default;
$color-dark: #253142 !default;
$color-body: #464646 !default;
$color-grey: #636F7B !default;
$color-light: #CCD7E4 !default;
$color-lighter: #E7E7E7 !default;

// Spots
$yellow:    #f39c12;
$orange:    #ea632a;
$red:       #ff4a47;
$magenta:   #fa429b;
$violet:    #9b59b6;
$active:    $color-brand;
$cyan:      #2a9d94;
$green:     #0cc471;
$blue:      #004FFF;
$blue-2:   #1665d9;
