/*------------------------------------*\
    #ABSTRACTS: TYPOGRAPHY
\*------------------------------------*/

// Load Apercu font
@font-face {
  font-family: Apercu;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Apercu-Medium.otf');
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,,500);
//@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i);
//@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

// Base
//$base-font-family: 'Noto Serif', serif;
$base-font-family: "acumin-pro",sans-serif;
$base-font-size:   21px;
$base-line-height: 1.800em;
$base-font-weight: 400;
$base-line-height: 41px;

// Secondary
$secondary-font-family: 'Roboto Mono', monospace;

// Tertiary
$tertiary-font-family: 'Apercu', sans-serif;

// Font weight scale
$font-weight-regular: 400;
$font-weight-medium:  500;

// Font size scale
$font-size--xxl: 2.476em;  // 52px
$font-size--xl: 1.619em;  // 34px
$font-size--l: 1.238em;   // 26px
$font-size--m: $base-font-size;   // 21x
$font-size--s: 0.667em;   // 14px

// Line height scale
$line-height-xl: 1.700em;
$line-height-l: 1.500em;
$line-height-m: $base-line-height; // 41x/1.952em
$line-height-s: 1.400em;
$line-height-xs: 1.200em;

// Spacing
$spacing-unit:     30px;
