/*------------------------------------*\
    #ABSTRACTS: TYPOGRAPHY
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Karla');

/* font families */
$font-family-base: 'Karla', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
$font-family-mono: 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;

/* font weights */
$font-weight-regular: 400;
$font-weight-bold:  700;

/* applied font weights */
$font-weight-base: $font-weight-regular;

/* font sizes */
$font-size--xxl: 2.5em;  // 45px ÷ 18 = 2.5
$font-size--xl: 2.222em;  // 39px ÷ 18 = 2.222
$font-size--l: 1.667em;   // 30px ÷ 18 = 1.667
$font-size--m: 1.222em;   // 21px ÷ 18 = 1.222
$font-size--s: 0.778em;   // 14px ÷ 18 = 0.778

$font-size-base:   100; // Gets used as %, converts to 16px
$font-size-desktop: 125; // Gets used as %, converts to 18px

/* base unitless line heights */
$line-height-base: 1.5; // Sets vertical rhythm (24px / 16px = 1.5)
$line-height-desktop: 1.7; // Sets vertical rhythm (32px / 20px = 1.7)
$base: ($font-size-base / 100);

/* modular scale */
$ratio: 1.25; // Major Third 4:5 http://www.modularscale.com/?20&px&1.25

/* pow and modular scale functions used to set font-sizes */
@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number; // Multiply by $number if exponent less than zero
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number; // Divide by $number if exponent less than zero
    }
  }

  @return $value;
}

@function ms($value, $ms-ratio: $ratio, $ms-base: $base){
  $size: pow($ms-ratio, $value) * $ms-base;
  @return #{ $size + "rem" };
}
