/*------------------------------------*\
    #ABSTRACTS: COLORS
\*------------------------------------*/

// Spots
$blue:   #004FFF;
$orange: #ff4f4f;
$green:  #0cc471;

// Global colors
$brand-color: $blue;
$color-brand: $brand-color;

$color-white: #ffffff !default;
$color-dark: #222228 !default;
$color-body: #464646 !default;
$color-grey: #636F7B !default;
$color-light: #CCD7E4 !default;
$color-lighter: #E7E7E7 !default;
