/*------------------------------------*\
    #ABSTRACTS: TYPOGRAPHY
\*------------------------------------*/

// Load Apercu font
@font-face {
  font-family: Apercu;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Apercu-Medium.otf');
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,400i,500,700);

// Base
$base-font-family: "Georgia","serif";
$base-font-size:   18px;
$base-line-height: 1.6em;
$base-font-weight: 400;
$base-line-height: 36px;

// Secondary
$secondary-font-family: 'Roboto Mono', monospace;

// Tertiary
$tertiary-font-family: 'Apercu', sans-serif;

// Font weight scale
$font-weight-regular: 400;
$font-weight-medium:  500;

// Font size scale
$font-size--xl: 2em;  // 36px
$font-size--l: 1.556em;   // 28px
$font-size--m: $base-font-size;   // 18x
$font-size--s: 0.778em;   // 14px

// Line height scale
$line-height-l: 1.7em;
$line-height-m: $base-line-height;
$line-height-s: 1.4em;
$line-height-xs: 1.2em;

// Spacing
$spacing-unit:     30px;
