/*------------------------------------*\
    #ABSTRACTS: COLORS
\*------------------------------------*/

// Spots
$blue:   #004FFF;
$red:    #ff4f4f;
$green:  #19CF86;

// Global colors
$brand-color: $blue;
$color-brand: $brand-color;

$color-white: #ffffff !default;
$color-dark: rgba(0, 0, 0, 0.9) !default;
$color-body: #4C4C4C !default;
$color-grey: rgba(0, 0, 0, 0.6) !default;
$color-light: rgba(0, 0, 0, 0.2) !default;
$color-lighter: #E7E7E7 !default;

// Spot colors
$yellow:    #F8C332;
$orange:    #FF6828;
$magenta:   #fa429b;
$violet:    #AD56D1;
$brand:     $brand-color;
$cyan:      #2a9d94;
