<section class="c-about">
  <div class="o-wrap">
    <div class="c-about__excerpt">
    <p>Hi! I’m Harry, a designer and brand consultant. I help young companies get the results they want. Over the years I’ve had a lot of experience building brands, websites and digital products from the ground up.</p>
    <br/>
    <p>If you're struggling to get started hit the big button above, then read a few of my other articles by clicking the link below. I might be able to help out.</p>
    </div>
    <div class="c-about__footer u-font--mono"><a href="{{ .Site.BaseURL }}/articles/">Read these articles next</a></div>
  </div>
</section>
