<section class="c-about">
  <div class="o-wrap">
    <div class="c-about__excerpt">
    <p>Does any of the following sound familiar to you?</p>
      <br/>
    <p>- I have an idea but <strong>I don't know where to start!</strong></p>
    <p>- <strong>My site isn't getting much traffic.</strong> What am I doing wrong?</p>
    <p>- <strong>How do I get more clients?</strong>.. I can't seem to find them!</p>
    <br/>
    <p>If you're struggling to get started hit the big button above. I've selected some of my best articles to help you uderstand your business goals and take it to the next level.</p>
    </div>
    <div class="c-about__footer u-font--mono"><a href="{{ .Site.BaseURL }}/articles/">Read these articles next</a></div>
  </div>
</section>
