<section class="c-about">
  <div class="o-wrap">
    <div class="c-about__excerpt">
    <p>Does any of the following sound familiar to you?</p>
      <br/>
    <p>- Why isn't my website getting more traffic?</p>
    <br/>
    <p>If you're struggling to get started hit the big button above, then read a few of my other articles by clicking the link below. I might be able to help out.</p>
    </div>
    <div class="c-about__footer u-font--mono"><a href="{{ .Site.BaseURL }}/articles/">Read these articles next</a></div>
  </div>
</section>
