<section class="o-section">
  <div class="o-wrap">
    <header class="u-marginTop-l">
      <h2 class="u-marginTop-l u-font--mono">Product Designer from London, via Hamburg. Sometimes <a href="http://ondsply.co/" target="_blank">I take pictures</a>. You can find me elsewhere on <a href="https://twitter.com/harrycresswell" target="_blank">Twitter</a> and <a href="https://github.com/harrycresswell" target="_blank">Github</a>.
      My full resumé is available on <a href="https://uk.linkedin.com/in/harrycresswell
" target="_blank">LinkedIn.</a></h2>
      <div class="u-marginTop-l">
        <a class="u-font--tertairy u-link--natural" href="{{ .Site.BaseURL }}articles/a-better-technique-for-naming-artboards-in-sketch/">Read about my sketch tactics &rarr;</a>
      </div>
      <h3 class="u-h3 u-font--mono u-color-body">Contact</h4>
      <div class="u-marginTop-m u-h1 u-font--tertairy u-color-heading">
      <a class="u-link--natural" href="mailto:studio@harrycresswell.com">studio@harrycresswell.com</a>
      </div>
    </header>
</div>
</section>
