<section class="o-wrap">
  <div class="o-flex">
    <h2 class="o-flex--3">Ways I can help you</h2>
    <h3 class="o-flex--3">Content strategy, UX and UI design, website development, copywriting, email marketing.</h3>
    <div class="o-flex--3"><a href="{{ .Site.BaseURL }}/articles/">Read these articles first</a></div>
  </div>

  <div class="o-flex">
    <p class="o-flex--2">Ways I can help you</p>
    <p class="o-flex--2">Content strategy, UX and UI design, website development, copywriting, email marketing.</p>
  </div>
</section>
