<footer class="c-footer">

    <div class="o-wrap">

        <section class="c-footer__social u-font--mono u-float--left">

          {{ range .Site.Menus.main }}
          <a class="nav-link spot-link-brand" href="{{ .URL }}"><span>{{ .Name }}</span></a>
          {{ end }}

        </section>


        <section class="c-footer__location u-float--right">

          <div class="u-float--left">
                <div class="blip">
                  <div class="blip-base spot-bg-light-brand"></div>
                  <div class="blip-pulse spot-bg-lighter-brand"></div>
                </div>
          </div>
          <div class="c-footer__currently u-float--right u-font--mono">
          {{ .Site.Params.Location }}
          </div>

        </section>


    </div>

</footer>

{{ partial "scripts.html" . }}

{{ partial "analytics.html" . }}

</body>
<html>
