<section class="Header">
    <div class="Flex-row Flex--nr">
        <div class="Flex-column Flex--45">
            <a class="Site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </div><!--/.Flex-column -->
        <div class="Flex-column Flex--55">
            <nav class="Nav">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <a class="Nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
                {{ end }}
            </nav>
            {{ partial "hamburger.html" . }}
        </div><!--/.Flex-column -->
    </div><!--/.Flex-row -->
</section><!--/.Header -->
