<section class="c-hero">
    <div class="o-wrap">
        {{ if .Site.Params.Description }}<h1 class="u-h1">Hello, I'm Harry. I design websites, identities &amp; type.</a></h1>{{ end }}
        <div class="u-marginTop-m">
            <p class="intro">I work as an independent designer, helping small teams and solopreneurs build honest, sustainable businesses. <a class="u-link--natural" href="https://www.harrycresswell.com/now">What I'm doing right now.</a></p>
        </div>
    </div>
</section>
