<section class="o-section">
    <div class="o-wrap">
        <div class="u-font--mono">:-)</div>
        {{ if .Site.Params.Description }}<h1 class="u-marginTop-l u-h1">I help small teams and solo businesses grow — using <a class="u-link--natural" href="http://www.albioncycling.com/" target="_blank">design</a> and <a class="u-link--natural" target="_blank" href="{{ .Site.BaseURL }}articles/form-data-with-zapier/">code</a>.</a></h1>{{ end }}
        <p class="intro u-marginTop-l">My name is Harry. I help small teams and solo businesses grow — using design, code and photography.</p>
        <p class="u-marginTop-m">My name is Harry. I help small teams and solo businesses grow — using design, code and photography.</p>

    </div>
</section>
