<section class="c-hero">
    <div class="o-wrap">
        {{ if .Site.Params.Description }}<h1 class="u-h1">Helping small business owners solve problems — using <a class="u-link--natural" href="http://www.albioncycling.com/" target="_blank">design</a>, <a class="u-link--natural" target="_blank" href="{{ .Site.BaseURL }}articles/form-data-with-zapier/">code</a> and <a class="u-link--natural" target="_blank" href="https://indtl.com/">photography</a>.</a></h1>{{ end }}
        <div class="u-marginTop-l">
            <p class="intro">Hi, my name is Harry. I work with creatives and entrepreneur types to build honest, sustainable businesses.</p>
        </div>
        <div class="u-marginTop-m">
            <p>I belive in user research, collaboration and clear communication. I follow a user-centered design approach to create clean, functional solutions.</p>
        </div>
    </div>
</section>
