<main class="o-section" role="main">
    <div class="o-wrap">
        <header>
            <h2 class="u-h3 u-font--mono u-color-grey">Latest Articles</h2>
        </header>
        <section class="u-marginTop-l">
          {{ range first 5 .Data.Pages.ByPublishDate }}
            {{ if eq .Type "articles" }}
                <article class="c-post u-marginTop-m">
                    <h3 class="u-h3">
                        <a class="u-link--natural" href="{{ .Permalink }}" target="_blank">
                            {{ .Title }}
                        </a>
                    </h3>
                    <div class="u-marginTop-s">
                        <time class="c-post__meta u-font--mono u-color-grey">{{ .Date.Format "Mon Jan 2, 2006" }}</time>
                        <!--<span class="c-post__tags">
                            {{ $baseurl := .Site.BaseURL }}
                            {{ range .Params.tags }}
                              <a class="nav-link u-font--mono u-link--natural u-color-grey" href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
                            {{ end }}
                          </span>-->
                      </div>
                </article>
            {{ end }}
            {{ end }}

        </section>
    </div>
</main>
