<section class="c-newsletter spot-bg-{{ .Site.Params.spot }}">
  <div class="o-wrap">
    <header class="c-newsletter__header">
      <h3 class="c-newsletter__title">Join my Mailing List</h3>
      <div class="c-newsletter__description">
        I'm here to help you bring your project to life. My bi-weekly email contains tips and advice on design, marketing and building an ethical business.
      </div>
    </header>

    <div class="c-newsletter__form">

      <form action="//harrycresswell.us14.list-manage.com/subscribe/post?u=4e8fba8d0ab4a857159c0104e&amp;id=d6ad2b65ca" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <label class="u-visually-hidden" for="mce-EMAIL">Email Address</label>
            <input class="c-newsletter__form-field" name="EMAIL" placeholder="Enter your email..." type="email" value="">
          	<div id="mce-responses" class="clear">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_4e8fba8d0ab4a857159c0104e_d6ad2b65ca" tabindex="-1" value="">
            </div>
            <div class="c-newsletter__form-button">
              <input class="c-button c-button--secondary spot-button-reverse-brand" name="subscribe" type="submit" value="Subscribe">
            </div>
      </form>

    </div>

  </div>
</section>
