<section id="newsletter" class="o-section">
  <div class="o-wrap">
    <div class="c-newsletter">
        <header class="c-newsletter__header">
          <div class="u-font--mono">Ways I can help you</div>
          <h4 class="u-h2 u-marginTop-l">Content strategy, UX, UI, website development, copywriting, email marketing.</h4>
          <div class="c-newsletter__description u-marginTop-m u-font--normal">
            My weekly email contains actionable advice on design, code, working remotely and running a solo business. This is where I spill my brain and share what I know.
          </div>
        </header>

        <div class="c-newsletter__form u-marginTop-m">

          <form action="//harrycresswell.us14.list-manage.com/subscribe/post?u=4e8fba8d0ab4a857159c0104e&amp;id=d6ad2b65ca" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <label class="u-visually-hidden" for="mce-EMAIL">Email Address</label>
                <input class="c-form c-form__input" name="EMAIL" placeholder="Enter your email..." type="email">
                <input name="LOCATION" value="{{ .Title }}" type="hidden" id="mce-LOCATION">
              	<div id="mce-responses" class="clear">
              		<div class="response" id="mce-error-response" style="display:none"></div>
              		<div class="response" id="mce-success-response" style="display:none"></div>
              	</div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_4e8fba8d0ab4a857159c0104e_d6ad2b65ca" tabindex="-1" value="">
                </div>
                <div class="c-newsletter__form-button">
                  <input class="c-button c-button--primary" name="subscribe" type="submit" value="Subscribe">
                </div>
          </form>

        </div>
    </div>
  </div>
</section>
