<section class="o-section">
    <div class="o-header-cover u-marginTop-m" style="background-image: url({{ .Site.BaseURL }}images/two-thousand-seventeen.jpg); background-repeat: no-repeat; background-position: center;"></div>
  <!--   <div class="o-wrap">
            <h3 class="u-h2 u-marginTop-l"><a class="u-link--natural" href="{{ .Site.BaseURL }}/articles/case-study-albion-cycling/">Albion Cycling</a></h3>
            <p class="u-marginTop-s">A client case study: designing and building a Wordpress site with Shopify intergration.</p>
    </div>-->
</section>
