<section class="o-section">
      <div class="o-header-cover u-marginTop-m" style="background-image: url({{ .Site.BaseURL }}images/two-thousand-seventeen.jpg); background-repeat: no-repeat; background-position: center;"></div>
</section>

<section class="o-section">
  <div class="o-wrap">
  <blockquote>
  Harry is pleasure to work with from start to finish. Creative in his ideas and highly efficient in his execution.
  <cite> Charlie Steward, Albion Cycling</cite>
</blockquote>
</div>
</section>
