{{ partial "header.html" . }}
<article class="o-section">

    <section>
      <div class="o-wrap--center">
            <header class="u-marginTop-l u-align-center">
                <time class="c-post__meta u-font--mono">{{ .Date.Format "Mon Jan 2, 2006" }}</time>
                <h1 class="u-h1 u-marginTop-m">{{ .Title }}</h1>
                {{ if .Params.description }}<h2 class="u-h4 u-marginTop-m u-font--normal u-color-body">{{ .Params.description }}</h2>{{ end }}
            </header>
        </div>
    </section>


    <main role="main">

        <section class="c-post {{ if .Params.spot }}post-{{ .Params.spot }}{{ end }} u-marginTop-l">
            <div class="o-wrap--center">

                <div class="c-post__content markdown">
                  {{ .Content }}
                </div>

                <footer class="c-post__footer u-marginTop-l">
                    {{ partial "post/topics.html" . }}
                    {{ partial "post/tags.html" . }}
                    {{ partial "post/related-post.html" . }}
                    {{ partial "post/author.html" . }}
                </footer>

                <!-- Discus comments -->
                <!--{ { template "_internal/disqus.html" . } }-->

            </div>
        </section>

    </main>
</article>

<div class="o-wrap--center">
{{ partial "newsletter.html" . }}
{{ partial "navigation.html" . }}
</div>

{{ partial "footer.html" . }}
