{{ define "main" }}

<article class="o-section">
    <div class="o-wrap">
        <header class="">
            <time class="c-post__meta">{{ .Date.Format "Mon Jan 2, 2006" }}</time>
            <h1>{{ .Title }}</h1>
            {{ if .Params.description }}<h2 class="u-font--normal u-color-body">{{ .Params.description }}</h2>{{ end }}
        </header>
        <main role="main" class="c-post">

            <div class="c-post__content markdown">
              {{ .Content }}
            </div>

            <footer class="c-post__footer">
                {{ partial "post/topics.html" . }}
                {{ partial "post/tags.html" . }}
                {{ partial "post/related-post.html" . }}
                {{ partial "post/author.html" . }}
            </footer>

            <!-- Discus comments -->
            <!--{ { template "_internal/disqus.html" . } }-->

        </main>
    </div>
</article>
<div class="o-wrap">
{{ partial "newsletter.html" . }}
</div>
{{ end }}
