{{ partial "header.html" . }}
<article class="o-section">
    {{ if isset .Params "featured_image" }}
    <section>
        <div class="o-wrap">
            <header class="u-marginTop-l">
                <time class="c-post__meta u-font--mono">{{ .Date.Format "Mon Jan 2, 2006" }}</time>
                <h1 class="u-h1 u-marginTop-l">{{ .Title }}</h1>
                {{ if .Params.description }}<h2 class="u-h4 u-marginTop-l u-font--mono u-color-body">{{ .Params.description }}</h2>{{ end }}
            </header>
        </div>
        <div class="o-header-cover u-marginTop-xl" style="background-image: url({{ .Site.BaseURL }}images/{{ index .Params "featured_image" }}); background-repeat: no-repeat; background-position: center;"></div>
    </section>

      {{else}}

    <section class="o-section">
      <div class="o-wrap">
            <header>
                <a href="{{ .Site.BaseURL }}/articles" class="c-nav__link u-font--mono u-link--bare">← Return</a>
                <h1 class="u-h1 u-marginTop-l">{{ .Title }}</h1>
            </header>
        </div>
    </section>
    {{ end }}


    <main role="main">

        <section class="c-post {{ if .Params.spot }}post-{{ .Params.spot }}{{ end }} u-marginTop-l">
            <div class="o-wrap">

                <div class="c-post__content markdown">
                  {{ .Content }}
                </div>

                <footer class="c-post__footer u-marginTop-l">
                    {{ partial "post/topics.html" . }}
                    {{ partial "post/tags.html" . }}
                    {{ partial "post/related-post.html" . }}
                    {{ partial "post/author.html" . }}
                </footer>

            </div>
        </section>

    </main>
</article>

{{ partial "newsletter.html" . }}

{{ partial "footer.html" . }}
