<style type="text/css" media="screen">
  .gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
  }

  .gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 98px;
    height: 160px;
    padding: 0px 0px;
    overflow: hidden;
  }
</style>
<div id="gr_grid_widget_1480930385">
  <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <h2>
<a style="text-decoration: none;" href="https://www.goodreads.com/review/list/58722717-harry-cresswell?shelf=on-business&utm_medium=api&utm_source=grid_widget">On Busines</a>
</h2>
<div class="gr_grid_container">
<div class="gr_grid_book_container"><a title="Challenger's Almanac, The" href="https://www.goodreads.com/book/show/28605442-challenger-s-almanac-the"><img alt="Challenger's Almanac, The" border="0" src="https://images.gr-assets.com/books/1453230046m/28605442.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="1000 true fans" href="https://www.goodreads.com/book/show/23583797-1000-true-fans"><img alt="1000 true fans" border="0" src="https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png" /></a></div>
<div class="gr_grid_book_container"><a title="Do Purpose: Why brands with a purpose do better and matter more" href="https://www.goodreads.com/book/show/18722359-do-purpose"><img alt="Do Purpose: Why brands with a purpose do better and matter more" border="0" src="https://images.gr-assets.com/books/1384159628m/18722359.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Unpublished David Ogilvy" href="https://www.goodreads.com/book/show/44898.The_Unpublished_David_Ogilvy"><img alt="The Unpublished David Ogilvy" border="0" src="https://images.gr-assets.com/books/1387737247m/44898.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Zero to One: Notes on Startups, or How to Build the Future" href="https://www.goodreads.com/book/show/18050143-zero-to-one"><img alt="Zero to One: Notes on Startups, or How to Build the Future" border="0" src="https://images.gr-assets.com/books/1414347376m/18050143.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Let My People Go Surfing: The Education of a Reluctant Businessman" href="https://www.goodreads.com/book/show/22155.Let_My_People_Go_Surfing"><img alt="Let My People Go Surfing: The Education of a Reluctant Businessman" border="0" src="https://images.gr-assets.com/books/1429805728m/22155.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Start with Why: How Great Leaders Inspire Everyone to Take Action" href="https://www.goodreads.com/book/show/7108725-start-with-why"><img alt="Start with Why: How Great Leaders Inspire Everyone to Take Action" border="0" src="https://images.gr-assets.com/books/1360936414m/7108725.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses" href="https://www.goodreads.com/book/show/10127019-the-lean-startup"><img alt="The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses" border="0" src="https://images.gr-assets.com/books/1333576876m/10127019.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Responsible Company: What We've Learned from Patagonia's First 40 Years" href="https://www.goodreads.com/book/show/13434697-the-responsible-company"><img alt="The Responsible Company: What We've Learned from Patagonia's First 40 Years" border="0" src="https://images.gr-assets.com/books/1339958623m/13434697.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Book Yourself Solid: The Fastest, Easiest, and Most Reliable System for Getting More Clients Than You Can Handle Even If You Hate Marketing and Selling" href="https://www.goodreads.com/book/show/126983.Book_Yourself_Solid"><img alt="Book Yourself Solid: The Fastest, Easiest, and Most Reliable System for Getting More Clients Than You Can Handle Even If You Hate Marketing and Selling" border="0" src="https://images.gr-assets.com/books/1348077998m/126983.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Lean Brand: How Brand Innovation Builds Passion, Transforms Organizations and Creates Value" href="https://www.goodreads.com/book/show/23232895-the-lean-brand"><img alt="The Lean Brand: How Brand Innovation Builds Passion, Transforms Organizations and Creates Value" border="0" src="https://images.gr-assets.com/books/1410903002m/23232895.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Do/ Story/: How to Tell Your Story So the World Listens" href="https://www.goodreads.com/book/show/18477436-do-story"><img alt="Do/ Story/: How to Tell Your Story So the World Listens" border="0" src="https://images.gr-assets.com/books/1378950841m/18477436.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The $100 Startup: Reinvent the Way You Make a Living, Do What You Love, and Create a New Future" href="https://www.goodreads.com/book/show/12605157-the-100-startup"><img alt="The $100 Startup: Reinvent the Way You Make a Living, Do What You Love, and Create a New Future" border="0" src="https://images.gr-assets.com/books/1345666854m/12605157.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Crush It!: Why Now Is the Time to Cash In on Your Passion" href="https://www.goodreads.com/book/show/6474550-crush-it"><img alt="Crush It!: Why Now Is the Time to Cash In on Your Passion" border="0" src="https://images.gr-assets.com/books/1348122101m/6474550.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Ask: The Counterintuitive Online Formula to Discover Exactly What Your Customers Want to Buy...Create a Mass of Raving Fans...and Take Any Business to the Next Level" href="https://www.goodreads.com/book/show/25292774-ask"><img alt="Ask: The Counterintuitive Online Formula to Discover Exactly What Your Customers Want to Buy...Create a Mass of Raving Fans...and Take Any Business to the Next Level" border="0" src="https://images.gr-assets.com/books/1442297700m/25292774.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Do Disrupt: Change the status quo. Or become it." href="https://www.goodreads.com/book/show/18193938-do-disrupt"><img alt="Do Disrupt: Change the status quo. Or become it." border="0" src="https://images.gr-assets.com/books/1373815137m/18193938.jpg" /></a></div>
<noscript><br/>Share <a href="/">book reviews</a> and ratings with Harry, and even join a <a href="/group">book club</a> on Goodreads.</noscript>
</div>

</div>

<div id="gr_grid_widget_1480931394">
  <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <h2>
<a style="text-decoration: none;" href="https://www.goodreads.com/review/list/58722717-harry-cresswell?shelf=on-writing&utm_medium=api&utm_source=grid_widget">On Writing</a>
</h2>
<div class="gr_grid_container">
<div class="gr_grid_book_container"><a title="Everybody Writes: Your Go-To Guide to Creating Ridiculously Good Content" href="https://www.goodreads.com/book/show/23001125-everybody-writes"><img alt="Everybody Writes: Your Go-To Guide to Creating Ridiculously Good Content" border="0" src="https://images.gr-assets.com/books/1410786036m/23001125.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Nicely Said: Writing for the Web with Style and Purpose" href="https://www.goodreads.com/book/show/18847936-nicely-said"><img alt="Nicely Said: Writing for the Web with Style and Purpose" border="0" src="https://images.gr-assets.com/books/1400891575m/18847936.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="On Writing: A Memoir of the Craft" href="https://www.goodreads.com/book/show/10569.On_Writing"><img alt="On Writing: A Memoir of the Craft" border="0" src="https://images.gr-assets.com/books/1436735207m/10569.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Elements of Style" href="https://www.goodreads.com/book/show/33514.The_Elements_of_Style"><img alt="The Elements of Style" border="0" src="https://images.gr-assets.com/books/1393947922m/33514.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Ogilvy on Advertising" href="https://www.goodreads.com/book/show/641601.Ogilvy_on_Advertising"><img alt="Ogilvy on Advertising" border="0" src="https://images.gr-assets.com/books/1320545976m/641601.jpg" /></a></div>
<noscript><br/>Share <a href="/">book reviews</a> and ratings with Harry, and even join a <a href="/group">book club</a> on Goodreads.</noscript>
</div>

</div>
