<style type="text/css" media="screen">
  .gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
  }

  .gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 98px;
    height: 160px;
    padding: 0px 0px;
    overflow: hidden;
  }
</style>
<div id="gr_grid_widget_1479335755">
  <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <h2>
<a style="text-decoration: none;" href="https://www.goodreads.com/review/list/58722717-harry?shelf=the-business&utm_medium=api&utm_source=grid_widget">Harry's the-business book montage</a>
</h2>
<div class="gr_grid_container">
<div class="gr_grid_book_container"><a title="Challenger's Almanac, The" href="https://www.goodreads.com/book/show/28605442-challenger-s-almanac-the"><img alt="Challenger's Almanac, The" border="0" src="https://images.gr-assets.com/books/1453230046m/28605442.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="It's Not How Good You Are, It's How Good You Want To Be" href="https://www.goodreads.com/book/show/114737.It_s_Not_How_Good_You_Are_It_s_How_Good_You_Want_To_Be"><img alt="It's Not How Good You Are, It's How Good You Want To Be" border="0" src="https://images.gr-assets.com/books/1441506303m/114737.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Nicely Said: Writing for the Web with Style and Purpose" href="https://www.goodreads.com/book/show/18847936-nicely-said"><img alt="Nicely Said: Writing for the Web with Style and Purpose" border="0" src="https://images.gr-assets.com/books/1400891575m/18847936.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Zero to One: Notes on Startups, or How to Build the Future" href="https://www.goodreads.com/book/show/18050143-zero-to-one"><img alt="Zero to One: Notes on Startups, or How to Build the Future" border="0" src="https://images.gr-assets.com/books/1414347376m/18050143.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Outliers: The Story of Success" href="https://www.goodreads.com/book/show/3228917-outliers"><img alt="Outliers: The Story of Success" border="0" src="https://images.gr-assets.com/books/1344266315m/3228917.jpg" /></a></div>
<br style="clear: both"/><br/><a class="gr_grid_branding" style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" href="https://www.goodreads.com/user/show/58722717-harry">Harry's favorite books »</a>
<noscript><br/>Share <a href="/">book reviews</a> and ratings with Harry, and even join a <a href="/group">book club</a> on Goodreads.</noscript>
</div>

</div>
<script src="https://www.goodreads.com/review/grid_widget/58722717.Harry's%20the-business%20book%20montage?cover_size=medium&hide_link=&hide_title=&num_books=20&order=a&shelf=the-business&sort=date_added&widget_id=1479335755" type="text/javascript" charset="utf-8"></script>
