{{ partial "header.html" . }}

<section class="o-section">
    <div class="o-wrap">
        <header>
              <a href="{{ .Site.BaseURL }}" class="u-font--mono u-link--bare">← Return</a>
        </header>
    </div>
</section>

<main role="main">
    <div class="o-wrap">
        <header class="u-marginTop-l">
            <h1 class="u-h1">Articles about design, code and building products that don't suck.</h1>
            <h2 class="u-h4 u-marginTop-m u-font--mono">Here are some articles i've taken from various topics I discuss in <a href ="#newsletter">my weekly newsletter</a>. I'd like to add you to my list if you enjoy what you're reading.</h2>
        </header>
        <section class="u-marginTop-l">
          {{ range .Data.Pages.ByPublishDate }}
            {{ if eq .Type "articles" }}
                <article class="c-post u-marginTop-xl">
                    <h3 class="u-h3">
                        <a class="u-link--brand" href="{{ .Permalink }}">
                            {{ .Title }}
                        </a>
                    </h3>
                    <p class="u-marginTop-m">
                    {{ .Summary }}
                  </p>
                </article>
            {{ end }}
            {{ end }}

        </section>
    </div>
</main>

{{ partial "newsletter.html" . }}

{{ partial "footer.html" . }}
