{{ define "main" }}

<main role="main">
    <div class="o-wrap">
        <header class="">
            <h1>Articles</h1>
        </header>
        <section class="">
          {{ range .Data.Pages.ByPublishDate }}
            {{ if eq .Type "articles" }}
                <article class="c-post">
                    <h2 class="">
                        <a class="u-link--natural" href="{{ .Permalink }}">
                            {{ .Title }}
                        </a>
                    </h2>
                    <p class="">
                    {{ .Description }}
                  </p>
                </article>
            {{ end }}
            {{ end }}

        </section>
    </div>
</main>

<div class="o-wrap">
{{ partial "newsletter.html" . }}
</div>

{{ end }}
