{{ partial "header.html" . }}

<section class="o-section">
    <div class="o-wrap">
        <header>
              <a href="{{ .Site.BaseURL }}" class="u-font--mono u-link--bare">← Return</a>
        </header>
    </div>
</section>

<main role="main">
    <div class="o-wrap">
        <header class="u-marginTop-l">
            <h1 class="u-h1">The most important lessons come from the books you read.</h1>
            <h2 class="u-h4 u-marginTop-m u-font--mono">These are my raw notes on everything I'm learning from books, articles, talks and conversations. Lot's of valuabe lessons but don't expect anything too polished.</h2>
        </header>
        <section class="u-marginTop-xl">
          <h3 class="u-h3">On Business</h3>
          {{ range .Site.Taxonomies.series.business }}
              <article class="c-post u-marginTop-l">
                  <h4 class="u-h3">
                      <a class="" href="{{ .Page.RelPermalink }}">
                          {{ .Page.Title }}
                      </a>
                  </h3>
                  <p class="u-marginTop-s">
                      {{ .Page.Description }}
                  </p>
              </article>
          {{ end }}

          </section>

          <section class="u-marginTop-xl">
            <h3 class="u-h3">On Productivity</h3>
            {{ range .Site.Taxonomies.series.productivity }}
                <article class="c-post u-marginTop-l">
                    <h4 class="u-h3">
                        <a class="" href="{{ .Page.RelPermalink }}">
                            {{ .Page.Title }}
                        </a>
                    </h3>
                    <p class="u-marginTop-s">
                        {{ .Page.Description }}
                    </p>
                </article>
            {{ end }}
        </section>

        <section class="u-marginTop-xl">
          <h3 class="u-h3">On Writing</h3>
          {{ range .Site.Taxonomies.series.writing }}
              <article class="c-post u-marginTop-l">
                  <h4 class="u-h3">
                      <a class="" href="{{ .Page.RelPermalink }}">
                          {{ .Page.Title }}
                      </a>
                  </h3>
                  <p class="u-marginTop-s">
                      {{ .Page.Description }}
                  </p>
              </article>
          {{ end }}
      </section>


      <section class="u-marginTop-xl">
        <h3 class="u-h3">On Health</h3>
        {{ range .Site.Taxonomies.series.health }}
            <article class="c-post u-marginTop-l">
                <h4 class="u-h3">
                    <a class="" href="{{ .Page.RelPermalink }}">
                        {{ .Page.Title }}
                    </a>
                </h3>
                <p class="u-marginTop-s">
                    {{ .Page.Description }}
                </p>
            </article>
        {{ end }}
    </section>


    </div>
</main>

{{ partial "newsletter.html" . }}

{{ partial "footer.html" . }}
